* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.NavMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin: 20px 20px;
    border-radius: 20px;
    padding: 25px 30px;
    color: white;
}

.NavMain>.part1>ul,
.part2>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
    width: 350px;
    list-style: none;
}

.NavMain>.part1>ul>li,
.part2>ul>li {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    padding: 20px;
    border-radius: 20px;
}

.NavMain ul>li:hover {
    background-color: #404040c1;
}

.NavMain>.part1>ul>.Active,
.part2>ul>.Active {
    background-color: #FD853A;
}

.NavMain>.center {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.NavMain>.center>.logoTxt {
    background-color: #FD853A;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;

}

.NavMain>.center>h5 {
    display: none;
}