
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
        font-family: "Noto Sans", sans-serif;
      font-style: normal;
}

.NavMain , .mobileNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin: 20px 20px;
    border-radius: 20px;
    padding: 15px 0px;
    color: white;
}
.mobileNav{
    justify-content: space-between;
     padding: 15px 20px;
}


.NavMain>.part1>ul,
.part2>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
    width: 350px;
    list-style: none;
}

.NavMain>.part1>ul>li,
.part2>ul>li {
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    padding: 8px 15px;
    border-radius: 20px;
}

.NavMain ul>.actions:hover {
    background-color: #404040c1;
}

.NavMain>.part1>ul>.Active ,
.part2>ul>.Active {
    z-index: 1;
    background-color: #FD853A;
}

.NavMain>.center {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    cursor: pointer;
}
.mobileNav > .center{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.NavMain  >.center>.logoTxt {
    background-color: #FD853A;
    height: 40px;
    width:40px;
    /* padding: 10px; */
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}
/* .mobileNav > .center {
    width: 200px;
} */
.mobileNav > .center > .logoTxt{
    background-color: #FD853A;
    height: 40px;
    width:40px;
    /* padding: 10px; */
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.NavMain>.center> .texts{
    text-align: start;
}
.NavMain>.center> .texts >h5 {
    /* display: none; */
    /* opacity: 0.6; */
    font-size: 0.5rem;
    color: rgb(165, 165, 165);
    transition: all ease-in 2s ;
    /* color: red; */
}
/* .NavMain>.center> .texts >h5 */
.mobileNav >.center> .texts >h5{
    font-size: 0.5rem;
     color: rgb(165, 165, 165);
    transition: all ease-in 2s ;
   

}
/* .NavMain>.center> .texts >h5 */